<div id="content">
  <div class="container">
    <div class="row bar">

      <div id="basket" class="col-md-12">
        <div class="box mt-0 pb-0 no-horizontal-padding">
          <form method="get" action="shop-checkout1.html">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th colspan="2">Marque</th>
                  <th>Quantite</th>
                  <th>Modele</th>
                  <th>pointure</th>
                  <th>prix</th>

                  <th colspan="2">date de sortie</th>
                  <th>coleur</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                </thead>
                <tbody *ngFor="let s of shoe">
                <tr>


                  <td>
                    <img
                      [src]="sanitizeImageUrl(s.image)"
                      alt="{{ s.brand }}"
                      style="max-height: 300px;"
                    />
                    <p style="margin-left: 5px;">{{ s.brand }}</p>
                  </td>


                  <td><a href="https://{{ s.web }}/">{{ s.web }}</a></td>


                  <td>{{ s.quantity }}</td>
                  <td>{{ s.modele }}</td>

                  <td>{{ s.size }}</td>
                  <td>{{ s.price }}</td>
                  <td colspan="2">{{ s.release }}</td>
                  <td>{{ s.color }}</td>
                  <td>{{ s.price }}</td>
                  <td>
                    <div>
                      <button class="btn btn-outline-danger" (click)="delete(s.id)">
                        <i class="fa fa-trash-o"></i>
                        Delete
                      </button>
<!--                      routerLink="/shoe/{{ s.id }}"-->
                      <button class="btn btn-outline-primary" (click)="open(s.id)">
                        <i class="fa fa-edit"></i>
                        Edit
                      </button>
                    </div>
                  </td>
                </tr>

                </tbody>

              </table>

            </div>

          </form>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-6">
            <div class="box text-uppercase mt-0 mb-2">
              <h3>You may also like these products</h3>
            </div>
          </div>
          <div class="col-md-3 col-md-6">
            <div class="product">
              <div class="image"><a href="shop-detail.html"><img src="assets/images/airforce.jpg" alt=""
                                                                 class="img-fluid image1"></a></div>
              <div class="text">
                <h3 class="h5"><a href="shop-detail.html">FlightClub</a></h3>
                <p class="price">$140</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-md-6">
            <div class="product">
              <div class="image"><a href="shop-detail.html"><img src="assets/images/jordan.jpg" alt=""
                                                                 class="img-fluid image1"></a></div>
              <div class="text">
                <h3 class="h5"><a href="shop-detail.html"> Goat</a></h3>
                <p class="price">$186</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-md-6">
            <div class="product">
              <div class="image"><a href="shop-detail.html"><img src="assets/images/yeezy.png" alt=""
                                                                 class="img-fluid image1"></a></div>
              <div class="text">
                <h3 class="h5"><a href="shop-detail.html">Stockx</a></h3>
                <p class="price">$123</p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

