<div id="content">
  <div class="container">
    <div class="row bar">

      <div id="basket" class="col-md-12">
        <div class="box mt-0 pb-0 no-horizontal-padding">
          <div >
            <label>Rechercher : </label>
            <input class="f-r" [(ngModel)]="clientSearchTerm" placeholder="Marque, Modele, Prix, Pointure ..."/>
          </div>
          </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th colspan="2">Marque</th>
                  <th>Quantite</th>
                  <th>Modele</th>
                  <th>pointure</th>
                  <th>prix</th>

                  <th colspan="2">date de sortie</th>
                  <th>coleur</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                </thead>
                <tbody *ngFor="let s of shoe | search:['brand', 'modele', 'price', 'quantity', 'color', 'size', 'web']:clientSearchTerm as Shoe">
                <tr>


                  <td>
                    <img
                      [src]="sanitizeImageUrl(s.image)"
                      alt="{{ s.brand }}"
                      style="max-height: 300px;"
                    />
                    <p style="margin-left: 5px;">{{ s.brand }}</p>
                  </td>


                  <td><a href="https://{{ s.web }}/">{{ s.web }}</a></td>


                  <td>{{ s.quantity }}</td>
                  <td>{{ s.modele }}</td>

                  <td>{{ s.size }}</td>
                  <td>{{ s.price }}</td>
                  <td colspan="2">{{ s.release }}</td>
                  <td>{{ s.color }}</td>
                  <td>{{ s.price }}</td>
                  <td>
                    <div>
                      <button class="btn btn-outline-danger" (click)="delete(s.id)">
                        <i class="fa fa-trash-o"></i>
                        Delete
                      </button>
<!--                      routerLink="/shoe/{{ s.id }}"-->
                      <button class="btn btn-outline-primary" (click)="open(s.id)">
                        <i class="fa fa-edit"></i>
                        Edit
                      </button>
                    </div>
                  </td>
                </tr>

                </tbody>

              </table>

            </div>


        </div>

      </div>

    </div>
  </div>



