<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Shoes</h4>
  <button type="button" class="close" aria-label="Close" (click)="save()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="shoes">
    <form [formGroup]="form" >
      <div class="form-group">
        <label>shoe brand</label>
        <input
          type="text"
          name="brand"
          class="form-control"
          formControlName="brand"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('brand').touched && form.get('brand').invalid ">
        A brand name is required
      </div>
      <div class="form-group">
        <label>Modele</label>
        <input
          type="text"
          name="brand"
          class="form-control"
          formControlName="modele"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('modele').touched && form.get('modele').invalid ">
        A modele is required
      </div>
      <div class="form-group">
        <label>date realease</label>
        <input
          type="date"
          name="brand"
          class="form-control"
          formControlName="release"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('release').touched && form.get('release').invalid ">
        A date is required
      </div>


      <div class="form-group">
        <label>pointure</label>
        <input
          type="number"
          min="36"
          max="48"
          name="brand"
          class="form-control"
          formControlName="size"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('size').touched && form.get('size').invalid ">
        A size is required ==> size value between (36 and 48)
      </div>


      <div class="form-group">
        <label>color</label>
        <input
          type="text"
          name="brand"
          class="form-control"
          formControlName="color"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('color').touched && form.get('color').invalid ">
        A color is required
      </div>
      <div class="form-group">
        <label>URL web</label>
        <input
          type="text"
          name="brand"
          placeholder="www.example.com"
          class="form-control"
          formControlName="web"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('web').touched && form.get('web').invalid ">
        A website is required should be www.exemple.com
      </div>

      <div class="form-group">
        <label>prix</label>
        <input
          type="number"
          name="brand"
          class="form-control"
          formControlName="price"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('price').touched && form.get('price').invalid ">
        A price is required. value should be > 0
      </div>

      <div class="form-group">
        <label>quantite</label>
        <input
          type="number"
          name="brand"
          min="0"
          class="form-control"
          formControlName="quantity"
        />
      </div>
      <div class="alert alert-danger"
           *ngIf="form.get('quantity').touched && form.get('quantity').invalid ">
        A quantity is required should be > 0
      </div>
      <div style="display: flex; justify-content: space-between">
        <div style="display:flex; flex-direction: column">
          <td>
            <img
              [src]="sanitizeImageUrl(shoes.image)"
              alt="{{ shoes.brand }}"
              class="img-responsive"
              style="max-height: 300px;"
            /></td>

          <label>changer image</label> <br/>
          <input (change)="changeImage($event)" type="file" name="title" formControlName="image"/>

        </div>
      </div>
      <div class="form-group f-right">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="form.invalid"
          (click)="save()">
          <span class="fa fa-save"></span>
          Edit
        </button>
      </div>
    </form>



