<form #f="ngForm">
  <br>
  <h2 style="color: blue" align="center">Ajouter Chaussure</h2>
  <div class="form-group">
    <label>Marque</label>
    <input
      type="text"
      name="brand"
      class="form-control"
      [(ngModel)]="shoes.brand"
      #br="ngModel"
      pattern="[a-zA-Z, ]+$"
      required
    />
  </div>
  <div class="alert alert-danger" *ngIf="br.touched && br.invalid">
    Marque est obligatoire
  </div>

  <div class="form-group">
    <label>Modele</label>
    <input
      type="text"
      name="mode"
      class="form-control"
      [(ngModel)]="shoes.modele"
      required
      minlength="2"
      #md="ngModel"
      pattern="[a-zA-Z, ,0-9]+$"
    />
  </div>
  <div class="alert alert-danger" *ngIf="md.touched && md.invalid">
    <div *ngIf="md.errors.required">modele est obligatoire</div>
    <div *ngIf="md.errors.minlength">minimum 2 caractere</div>
    <div *ngIf="md.errors.pattern">n'est pas valide</div>
  </div>


  <div class="form-group">
    <label>Date Fabrication</label>
    <input
      type="date"
      name="dateR"
      class="form-control"
      [(ngModel)]="shoes.release"
      #dt="ngModel"
      required
    />
  </div>

  <div class="alert alert-danger" *ngIf="dt.touched && dt.invalid">
    une date est obligatoire
  </div>
  <div class="form-group">
    <label>Pointure </label>
    <input
      type="number"
      name="point"
      class="form-control"
      [(ngModel)]="shoes.size"
      #poi="ngModel"
      required
    />
  </div>
  <div class="alert alert-danger" *ngIf="poi.touched && poi.invalid">
    pointure est obligatoire
  </div>
  <div class="alert alert-danger" *ngIf="poi.value < 36 || poi.value>48">pointure entre 36 and 48</div>
  <div class="form-group">
    <label>Coleur </label>
    <input
      type="text"
      name="color"
      class="form-control"
      [(ngModel)]="shoes.color"
      #c="ngModel"
      pattern="[a-zA-Z, ]+$"
      required
    />
  </div>
  <div class="alert alert-danger" *ngIf="c.touched && c.invalid">
    coleur est obligatoire
  </div>

  <div class="form-group">
    <label>URL (Lien site Web) </label>
    <input
      type="url"
      name="url"
      id="url"
      placeholder="www.example.com"
      pattern="www.*"
      class="form-control"
      [(ngModel)]="shoes.web"
      #w="ngModel"

      required

    />
  </div>
  <div class="alert alert-danger" *ngIf="w.touched && w.invalid">
    Url web est obligatoire
  </div>

  <div class="form-group">
    <label>Prix </label>
    <input
      type="number"
      name="price"
      class="form-control"
      [(ngModel)]="shoes.price"
      #p="ngModel"
      required
    />
  </div>
  <div class="alert alert-danger" *ngIf="p.touched && p.invalid">
    prix est obligatoire
  </div>
  <div class="alert alert-danger" *ngIf="p.value < 0">prix>0</div>

  <div class="form-group">
    <label>Quantite </label>
    <input
      type="number"
      name="qu"
      class="form-control"
      [(ngModel)]="shoes.quantity"
      #q="ngModel"
      required
    />
  </div>

  <div class="alert alert-danger" *ngIf="q.touched && q.invalid">
    Quantite est obligatoire
  </div>
  <div class="alert alert-danger" *ngIf="q.value < 0">quantity>0</div>

  <div style="display: flex; justify-content: space-between">


    <div class="form-group">
      <label>Ajouter image</label> <br/>
      <input type="file" name="title" [(ngModel)]="shoes.image"/>
    </div>


    <div class="form-group">
      <button

        class="btn btn-outline-primary"
        type="submit"
        [disabled]="f.invalid"
        (click)="save()">
        <span class="fa fa-save"></span>
        Enregistrer
      </button>
    </div>
  </div>
</form>
