<div id="all">
  <!-- Top bar-->
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
          <p>Contacté nous sur +216 25 498 106 ou rafaa.lakhdhar@esprit.tn.</p>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-end justify-content-between">
            <ul class="list-inline contact-info d-block d-md-none">
              <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <ul class="social-custom list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/ra.faa.18/"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="list-inline-item"><a href="https://stockx.com/"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/stockx"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/stockx/?hl=fr"><i
                class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top bar end-->


  <div id="heading-breadcrumbs">
    <div class="container">
      <div class="row d-flex align-items-center flex-wrap">
        <div class="col-md-7">
          <h1 class="h2">Nouvelles collections ainsi soldé </h1>
        </div>

      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="row bar">
        <div class="col-md-3">
          <!-- MENUS AND FILTERS-->
          <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
              <h3 class="h4 panel-title">Categories</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills flex-column text-sm category-menu">
                <li class="nav-item"><a href="shop-category.html"
                                        class="nav-link d-flex align-items-center justify-content-between"><span>Homme </span><span
                  class="badge badge-secondary">10</span></a>
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a href="shop-category.html" class="nav-link">basket</a></li>
                    <li class="nav-item"><a href="shop-category.html" class="nav-link">running shoes</a></li>
                    <li class="nav-item"><a href="shop-category.html" class="nav-link">bottes</a></li>
                    <li class="nav-item"><a href="shop-category.html" class="nav-link">basketball shoes</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a href="shop-category.html"
                                        class="nav-link active d-flex align-items-center justify-content-between"><span>Femmes  </span><span
                  class="badge badge-light">12</span></a>
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a href="shop-category.html" class="nav-link">bottines</a></li>
                    <li class="nav-item"><a href="shop-category.html" class="nav-link">sport shoes</a></li>
                    <li class="nav-item"><a href="shop-category.html" class="nav-link">classique shoes</a></li>

                  </ul>
                </li>

              </ul>
            </div>
          </div>
          <div class="panel panel-default sidebar-menu">
            <div class="panel-heading d-flex align-items-center justify-content-between">
              <h3 class="h4 panel-title">Marques</h3><a href="#" class="btn btn-sm btn-danger"><i
              class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">vider</span></a>
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> nike (2)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Jordans (3)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Adidas (1)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Dr Martenes (2)
                    </label>
                  </div>
                </div>
                <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Ok</button>
              </form>
            </div>
          </div>
          <div class="panel panel-default sidebar-menu">
            <div class="panel-heading d-flex align-items-center justify-content-between">
              <h3 class="h4 panel-titlen">Coleurs</h3><a href="#" class="btn btn-sm btn-danger"><i
              class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">Vider</span></a>
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"><span class="colour white"></span> White (14)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"><span class="colour blue"></span> Blue (10)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"><span class="colour green"></span> Green (20)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"><span class="colour yellow"></span> Yellow (13)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"><span class="colour red"></span> Red (10)
                    </label>
                  </div>
                </div>
                <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Ok</button>
              </form>
            </div>
          </div>

        </div>
        <div class="col-md-9">
          <p class="text-muted lead">Dans notre Partie Femme, nous proposons une large sélection des meilleures
            chaussures soldées que nous avons trouvées
            et soigneusement sélectionnés dans le monde entier. </p>
          <div class="row products products-big">
            <div class="col-lg-4 col-md-6" *ngFor="let s of shoes">
              <div class="product">
                <div class="image"><a [href]="'https://' + s.web" target="_blank"><img
                  [src]="'assets/images/' +  s.image.substr(12)  " alt="" class="img-fluid image1"></a></div>
                <div class="text">
                  <h3 class="h5"><a [routerLink]="'/shoeList'">{{s.modele}}</a></h3>
                  <p class="price">{{ s.price }} &nbsp;€</p>
                  <div class="ribbon-holder">
                    <div class="ribbon sale">SOLDE</div>
                    <div class="ribbon new">NOUVEAU</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 banner mb-small"><a href="#"><img src="img/banner2.jpg" alt="" class="img-fluid"></a>
            </div>
          </div>
          <div class="pages">
            <p class="loadMore text-center"><a href="#" class="btn btn-template-outlined"><i
              class="fa fa-chevron-down"></i> Charger plus</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="class3" role="complementary" data-test="recommendations-carousel">
    <div data-orientation="vertical" data-hero="false" data-slides-to-show="3" data-scrollable="true"
         data-should-transition="false" data-semantically-hide-unobserved-cards="true"
         data-conditionally-hide-nav-buttons="false" data-with-tracker="false" data-with-navigation="false" id="">
      <ul class="class3">
        <li aria-hidden="false" data-in-view="true" data-index="0" class="slide selected">
          <div class="ncss-container fixed-fluid">
            <div class="class2"><h3 align="center" id="recommendations__title"
                                    class="cs-title pb4-sm css-va5pdn">
              VOUS AIMEREZ PEUT-ÊTRE AUSSI</h3>
              <div class="recommendations-carousel css-1qbubzm" data-orientation="horizontal" data-hero="false"
                   data-slides-to-show="3" data-scrollable="true" data-should-transition="false"
                   data-semantically-hide-unobserved-cards="true" data-conditionally-hide-nav-buttons="false"
                   data-with-tracker="true" data-with-navigation="true" id="recommendations__carousel">
                <ul class="slider">
                  <li aria-hidden="true" data-in-view="false" data-index="0" class="slide selected">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-max-plus-shoe-F5SqNr/604133-050">Nike Air Max
                          Plus</a><a class="product-card__img-link-overlay"
                                     href="https://www.nike.com/gb/t/air-max-plus-shoe-F5SqNr/604133-050"
                                     aria-label="Nike Air Max Plus" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/604133_050?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/604133_050?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/604133_050?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/604133_050?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Max Plus Chaussure pour Homme"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Max Plus">Nike Air Max Plus</div>
                                <div class="product-card__subtitle">Chaussure pour Homme</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    169,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="1" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-max-90-shoe-2Kz7z4/CT4352-104">Nike Air Max
                          90</a><a class="product-card__img-link-overlay"
                                   href="https://www.nike.com/gb/t/air-max-90-shoe-2Kz7z4/CT4352-104"
                                   aria-label="Nike Air Max 90" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CT4352_104?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CT4352_104?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CT4352_104?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/CT4352_104?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Max 90 Chaussure pour Homme"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Max 90">Nike Air Max 90</div>
                                <div class="product-card__subtitle">Chaussure pour Homme</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    139,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="2" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-max-95-essential-shoe-xFlCF0/AT9865-001">Nike Air
                          Max 95 Essential</a><a class="product-card__img-link-overlay"
                                                 href="https://www.nike.com/gb/t/air-max-95-essential-shoe-xFlCF0/AT9865-001"
                                                 aria-label="Nike Air Max 95 Essential" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/AT9865_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/AT9865_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/AT9865_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/AT9865_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Max 95 Essential Chaussure mixte"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Max 95 Essential">Nike Air Max 95
                                  Essential
                                </div>
                                <div class="product-card__subtitle">Chaussure mixte</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    169,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="3" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-force-1-07-shoe-DS3Q3T/315122-111">Nike Air Force
                          1 '07</a><a class="product-card__img-link-overlay"
                                      href="https://www.nike.com/gb/t/air-force-1-07-shoe-DS3Q3T/315122-111"
                                      aria-label="Nike Air Force 1 '07" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/315122_111?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/315122_111?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/315122_111?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/315122_111?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Force 1 '07 Chaussure pour Homme"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Force 1 '07">Nike Air Force 1 '07</div>
                                <div class="product-card__subtitle">Chaussure pour Homme</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    99,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="4" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/blazer-mid-77-vintage-shoe-4LTRzh/CZ1055-100">Nike
                          Blazer Mid '77 Vintage</a><a class="product-card__img-link-overlay"
                                                       href="https://www.nike.com/gb/t/blazer-mid-77-vintage-shoe-4LTRzh/CZ1055-100"
                                                       aria-label="Nike Blazer Mid '77 Vintage" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CZ1055_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CZ1055_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CZ1055_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/CZ1055_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Blazer Mid '77 Vintage Chaussure pour Femme"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Blazer Mid '77 Vintage">Nike Blazer Mid '77
                                  Vintage
                                </div>
                                <div class="product-card__subtitle">Chaussure pour Femme</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    99,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="5" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-force-1-older-shoe-vXJB1w/314192-117">Nike Air
                          Force 1</a><a class="product-card__img-link-overlay"
                                        href="https://www.nike.com/gb/t/air-force-1-older-shoe-vXJB1w/314192-117"
                                        aria-label="Nike Air Force 1" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/314192_117?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/314192_117?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/314192_117?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/314192_117?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Force 1 Chaussure pour Enfant plus âgé"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Force 1">Nike Air Force 1</div>
                                <div class="product-card__subtitle">Chaussure pour Enfant plus âgé</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    74,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="6" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/sportswear-club-fleece-pullover-hoodie-39qLnk/BV2654-100">Nike
                          Sportswear Club Fleece</a><a class="product-card__img-link-overlay"
                                                       href="https://www.nike.com/gb/t/sportswear-club-fleece-pullover-hoodie-39qLnk/BV2654-100"
                                                       aria-label="Nike Sportswear Club Fleece" data-el-type="Hero">

                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Sportswear Club Fleece">Nike Sportswear Club
                                  Fleece
                                </div>
                                <div class="product-card__subtitle">Sweat à capuche</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    54,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="7" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-max-2090-shoe-sK9DFZ/BV9977-100">Nike Air Max
                          2090</a><a class="product-card__img-link-overlay"
                                     href="https://www.nike.com/gb/t/air-max-2090-shoe-sK9DFZ/BV9977-100"
                                     aria-label="Nike Air Max 2090" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/BV9977_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/BV9977_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/BV9977_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/BV9977_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Max 2090 Chaussure pour Homme"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Max 2090">Nike Air Max 2090</div>
                                <div class="product-card__subtitle">Chaussure pour Homme</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    149,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="8" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/netherlands-football-jacket-shvQXs/CN7073-010">Pays-Bas</a><a
                          class="product-card__img-link-overlay"
                          href="https://www.nike.com/gb/t/netherlands-football-jacket-shvQXs/CN7073-010"
                          aria-label="Pays-Bas" data-el-type="Hero">

                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Pays-Bas">Pays-Bas</div>
                                <div class="product-card__subtitle">Veste de football pour Homme</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    94,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="9" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-force-1-shadow-shoe-M8SqJM/CI0919-100">Nike Air
                          Force 1 Shadow</a><a class="product-card__img-link-overlay"
                                               href="https://www.nike.com/gb/t/air-force-1-shadow-shoe-M8SqJM/CI0919-100"
                                               aria-label="Nike Air Force 1 Shadow" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CI0919_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CI0919_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CI0919_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/CI0919_100?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Force 1 Shadow Chaussure pour Femme"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Force 1 Shadow">Nike Air Force 1 Shadow
                                </div>
                                <div class="product-card__subtitle">Chaussure pour Femme</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    109,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="10" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/fff-strike-older-football-tracksuit-GNl8qp/CD3108-400">FFF
                          Strike</a><a class="product-card__img-link-overlay"
                                       href="https://www.nike.com/gb/t/fff-strike-older-football-tracksuit-GNl8qp/CD3108-400"
                                       aria-label="FFF Strike" data-el-type="Hero">

                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="FFF Strike">FFF Strike</div>
                                <div class="product-card__subtitle">Survêtement de football pour Enfant plus âgé</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    99,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                  <li aria-hidden="true" data-in-view="false" data-index="11" class="slide">
                    <div class="product-card css-pyfeao  ">
                      <div class="product-card__body" data-el-type="Card">
                        <figure><a class="product-card__link-overlay"
                                   href="https://www.nike.com/gb/t/air-max-plus-older-shoe-jVjSCF/CD0609-001">Nike Air
                          Max Plus</a><a class="product-card__img-link-overlay"
                                         href="https://www.nike.com/gb/t/air-max-plus-older-shoe-jVjSCF/CD0609-001"
                                         aria-label="Nike Air Max Plus" data-el-type="Hero">
                          <div class="image-loader css-zrrhrw product-card__hero-image is--loaded">
                            <picture>
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CD0609_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(min-width: 1024px)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CD0609_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                              <source
                                srcset="https://images.nike.com/is/image/DotCom/CD0609_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                media="(max-width: 1023px)">
                              <img
                                src="https://images.nike.com/is/image/DotCom/CD0609_001?$NIKE_PWP_GRAY$&amp;wid=420&amp;hei=420"
                                alt="Nike Air Max Plus Chaussure pour Enfant plus âgé"></picture>
                          </div>
                        </a>
                          <div class="product-card__info">
                            <div class="product_msg_info">
                              <div class="product-card__titles">
                                <div class="product-card__title" id="Nike Air Max Plus">Nike Air Max Plus</div>
                                <div class="product-card__subtitle">Chaussure pour Enfant plus âgé</div>
                              </div>
                            </div>
                            <div class="product-card__price-wrapper for--product">
                              <div class="product-card__price">
                                <div class="product-price__wrapper">
                                  <div class="product-price css-11s12ax is--current-price" data-test="product-price">
                                    139,99&nbsp;€
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                    </div>
                  </li>
                </ul>

                <meter class="carousel-tracker animating carousel-tracker-below css-g3q8ig" min="0" max="10" value="0"
                       aria-labelledby="recommendations__title">
                  <div class="carousel-tracker-bar css-n86ezi" aria-hidden="true" width="0.25"></div>
                </meter>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="main-footer">


    <div class="col-lg-4 text-center-md">
      <p>&copy; 2020. ShoeBook / Rafaa Lakhdhar</p>
    </div>


  </footer>
</div>

